/* CSS Rules */
body { 
    margin: 1em 3em;
}
#breadcrumbs { 
    background-color: rgb(238, 238, 238);
}
#breadcrumbs > * {
    margin: 0 .3em;
}
#footer {
    margin: 5em 0 0 0;
    width: 100%;
    text-align: center;
}
table {
width: 100%;
margin: 1em 0;
border-collapse: collapse;
}
td {
border: black .1em solid;
padding: .1em;
margin: 0 0 0 -1px;
}
tr {
margin: 0;
padding: 0;
}
tr:nth-of-type(even) {
background: rgb(248, 248, 248);
}
tr:nth-of-type(odd) {
background: rgb(240, 240, 240);
}
thead th {
color: rgb(255, 255, 255);
background-color: rgb(197, 31, 31);
border: black .1em solid;
text-align: left;
padding: .1em 0 .1em 1em;
}