/* CSS Rules */
body { 
    margin: 1em 3em;
    font-family: arial, helvetica, sans-serif;
}
#title > img {
    float:left;
    margin: 0 1em;
}
#breadcrumbs { 
    clear:both;
    background-color: rgb(238, 238, 238);
}
#breadcrumbs > * {
    margin: 0 .1em .2em .1em;
    padding: 0;
    font-size: .9em;
}
#footer {
    margin: 5em 0 0 0;
    width: 100%;
    text-align: center;
}
ul {
    list-style-type: none;
}
li {
    margin: .1em;
}
.group_anchors {
    text-align:center;
}
caption {
    font-size: 2em;
    margin: .2em;
}
table {
    width: 100%;
    margin: 1em 0;
    border-collapse: collapse;
    font-size: .9em;
    text-align: left;
}
td {
     border: black .1em solid;
     padding: .15em .5em;
}
tr {
     margin: 0;
     padding: 0;
}
tr:nth-of-type(even) {
    background: rgb(248, 248, 248);
}
tr:nth-of-type(odd) {
    background: rgb(235, 235, 235);
}
thead th {
    color: rgb(255, 255, 255);
    background-color: rgb(197, 31, 31);
    border: black .1em solid;
    text-align: left;
    padding: .1em 0 .1em 1em;
}
.faculty_text { font-style: italic; }
        .notes, .desc { margin: 1em 3em; }